<p id="notice"><%= notice %></p>


<p>
<h2><%= @user.username %></h2>
</p>

<p>
  <% if @user.ratings.empty? %>
      user has not made ratings!
  <% else %>
      has made <%=pluralize(@user.ratings.count, 'rating') %>, average <%=@user.average_rating%>
  <% end %>
</p>

<p>
  <% if @user.beer_clubs.empty? %>
      user has not joined a club!
  <% else %>
      member of
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club %>
      <% end %>
  <% end %>
</p>

<p>
  <% if @user.favorite_style.nil? %>
       user has no favorite style!
  <% else %>
      favorite style <%= @user.favorite_style %>
  <% end %>
</p>

<p>
  <strong>ratings</strong>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating_path(rating.id), method: :delete, data: { confirm: 'Are you sure?' }%>
        <% end %>
      </li>
  <% end %>
</ul>
</p>

<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', users_path %>
