<p id="notice"><%= notice %></p>

<h2><%=@place.name%></h2>
<br>
<%= @place.street %>
<br>
<br>
<%= @place.zip %> <%= @place.city %>
<br>
<% likki = @place.blogmap %>
<% if  Rails.env.production? %>
    <% likki[4] = "s:"%>
<% else %>
<%end%>
<br>
<iframe src=<%= likki%>, height="250"></iframe>
