<p id="notice"><%= notice %></p>

<h2><%=@place.name%></h2>
<br>
<%= @place.street %>
<br>
<br>
<%= @place.zip %> <%= @place.city %>
<br>
<% likki = @place.blogmap %>
<% if  Rails.env == "development" %>
    <iframe src="<%=likki%>", height="250"></iframe>
<% else %>
    
    <iframe src="<%=likki%>", height="250"></iframe>
<%end%>
<br>
